@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply px-4 py-2 rounded-lg font-medium inline-flex items-center justify-center tracking-tight;
  }

  .btn-primary {
    @apply bg-black text-white;
  }

  .btn-text {
    @apply text-black bg-transparent;
  }

  .logo-ticker-image {
    @apply h-8 w-auto;
  }

  .tag {
    @apply text-sm inline-flex border border-[#222]/10 px-2 py-1 rounded-lg tracking-tight;
  }

  .section-title {
    @apply text-center text-3xl md:text-[54px] md:leading-[60px] font-bold tracking-tighter bg-gradient-to-b from-black to-[#001E80] text-transparent bg-clip-text;
  }

  .section-description {
    @apply text-center text-[22px] leading-[30px] tracking-tight text-[#010D3E];
  }

  .card {
    @apply p-10 border  border-[#222222]/10 rounded-3xl shadow-[0_7px_14px_#EAEAEA] max-w-xs w-full;
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-bounce-custom {
  animation: bounce 1s infinite;
}
html {
  scroll-behavior: smooth;
}


/*=================|| scroller style for service page overvew section  */

/* Custom Scrollbar for Specific Section */
#scrollable-content::-webkit-scrollbar {
  width: 6px; /* Thin scrollbar */
}

#scrollable-content::-webkit-scrollbar-track {
  background: #8BB5FFB2; /* Light blue-gray background */
}

#scrollable-content::-webkit-scrollbar-thumb {
  background: rgba(230, 230, 230, 0.9); /* Dark white (light gray) */
  border-radius: 10px; /* Rounded corners */
}

#scrollable-content::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 1); /* Pure white on hover */
}

.loader {
  border: 3px solid #f3f3f3;
  border-top: 3px solid #3498db;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}